* {
    color: white;
    font-family: 'Russo One', sans-serif;
    text-decoration: none;
    font-size: 24px;
}

body {
    background-color: #FDEB6B;
    background-size: 100%;
    margin: 0px;
}

main {
    padding: 24px;
    text-shadow: 1px 1px 4px black;
}

main p {
	font-size: 16px
}

.app {
	display: flex;
	align-items: center;
}

.open {
	margin-left: 24px;
    padding: 16px;
    color: #E9AF09;
	font-size: 24px;
    background-color: #4F1257;
	text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.open:hover {
    background-color: #E9AF09;
    color: #4F1257;
}


.taber {
    display: flex;
    font-size: 24px;
    position: fixed; /* Фиксированное положение */
    left: 0; up: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #A201FF; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    padding: 0 env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    z-index: 3;
    height: 96px;
    border-top: 1px solid rgba(255,255,255,0.2);
    background: rgb(198,102,254);
    background: linear-gradient(225deg, #C666FE 0%, #A201FF 80%);
    color: #ffffff;
    font-size: 1.1rem;
}

.tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
}

.tabs1 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 0;
    background: #C666FE;
    text-shadow: 1px 1px 4px black;
}

.tabs2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    overflow: hidden;
}

.tabname {
    max-width: 100%;
    padding: 0 4px;
    box-sizing: border-box;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.material-symbols-outlined {
    color: black;
}

.sear {
    font-size: 16px;
    width: 84%;
    height: 26px;
    color: black;
    background-color: #FDEB6B;
    border: none;
    border-radius: 24px;
    padding-left: 8px;
    margin-left: 8px;
}
